html {
  font-size: 62.5%;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
header {
  width: 100%;
  height: 3.7rem;
  background: none;
  line-height: 3.7rem;
  position: relative;
}
header span {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
header img {
  width: 1rem;
  height: 1.5rem;
  background: none;
  position: absolute;
  top: 1rem;
  left: 0.8rem;
}
section {
  z-index: 1;
  -webkit-box-flex: 1;
}
section div {
  width: 100%;
  height: 3.4rem;
  background: none;
  box-sizing: border-box;
  padding: 0 1rem;
  background: white;
}
section div input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
section .yan {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-bottom: 2.3rem;
}
section .yan input {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}
section .yan span {
  display: block;
  width: 7rem;
  height: 3.3rem;
  background: none;
  border: 1px solid #f2f2f2;
  line-height: 3.3rem;
  text-align: center;
}
section .btn {
  box-sizing: border-box;
  padding: 0 1rem;
}
section .btn span {
  width: 100%;
  height: 3.4rem;
  background: none;
  display: block;
  background: #ff7d1b;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  line-height: 3.4rem;
  text-align: center;
}
.show {
  width: 100%;
  height: 100%;
  background: #919191;
  position: absolute;
  opacity: 0.5;
  z-index: 100;
  top: 0;
  display: none;
}
.showdow {
  width: 25.6rem;
  height: 10.6rem;
  background: #ffffff;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 110;
}
.showdow dl {
  width: 8.8rem;
  height: 8rem;
  background: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.showdow dl img {
  width: 4rem;
  height: 4rem;
  background: none;
}
