@import url("style.css");
html,
body,
.big {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.big {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.big header {
  line-height: 4.5rem;
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  position: relative;
  box-sizing: border-box;
}
.big header div {
  display: inline-block;
  position: absolute;
  margin-left: 1.1rem;
}
.big header div img {
  width: auto;
  height: 1.8rem;
  background: none;
}
.big header h1 {
  text-align: center;
  font-size: 1.6rem;
}
.big section {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}
.big section .section_div .section_div1 img {
  width: 100%;
  height: auto;
  background: none;
}
.big section .section_div .section_div12 {
  padding: 0 1.2rem;
  box-sizing: border-box;
}
.big section .section_div .section_div12 p {
  margin-bottom: 0.5rem;
}
.big section .section_div .section_div12 h3 {
  line-height: 2rem;
  font-size: 14px;
}
.big section .section_div .section_div12 h3 img {
  width: 1.2rem;
  height: auto;
  background: none;
  margin-right: 0.8rem;
}
.big section .section_div4 {
  padding: 0 1.2rem;
  box-sizing: border-box;
}
.big section .section_div4 h3 {
  font-size: 17px;
  line-height: 3rem;
  border-bottom: 1px solid #f2f2f2;
}
.big section .section_div4 dl {
  padding-top: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: none;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.big section .section_div4 dl dt {
  width: 1.6rem;
  height: 2.5rem;
  background: none;
  margin-right: 1rem;
}
.big section .section_div4 dl dt img {
  width: auto;
  height: 1.6rem;
  background: none;
}
.big section .section_div4 dl dd {
  position: relative;
  -webkit-box-flex: 1;
}
.big section .section_div4 dl dd img {
  position: absolute;
  right: 1px;
  width: auto;
  height: 1.6rem;
  background: none;
}
.big section .section_div3 {
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border-top: 0.5rem solid #f2f2f2;
  margin-bottom: 0.5rem;
  line-height: 3rem;
  font-size: 17px;
  padding: 0 1.2rem;
  box-sizing: border-box;
}
.big section .section_div3 h3 {
  position: relative;
}
.big section .section_div3 img {
  width: auto;
  height: 1.6rem;
  background: none;
  position: absolute;
  right: 1px;
  top: 0.1rem;
  margin-top: 0.5rem;
}
.big section .section_div2 {
  padding: 0 1.2rem;
  border-top: 0.5rem solid #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.big section .section_div2 h2 {
  font-size: 17px;
  line-height: 3rem;
  border-bottom: 1px solid #f2f2f2;
}
.big section .section_div2 .dl1 {
  border-bottom: none;
}
.big section .section_div2 dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: none;
  border-bottom: 1px solid #f2f2f2;
}
.big section .section_div2 dl dt {
  width: 1.6rem;
  height: 2.5rem;
  background: none;
  margin-right: 1rem;
}
.big section .section_div2 dl dt img {
  width: 1.6rem;
  height: 1.8rem;
  background: none;
}
.big section .section_div2 dl dd {
  position: relative;
  -webkit-box-flex: 1;
}
.big section .section_div2 dl dd img {
  width: auto;
  height: 1.6rem;
  background: none;
  position: absolute;
  right: 1px;
  top: 0.1rem;
}
